<div class="deleteModal">
    <div class="modal-header">
        <h4 class="modal-title">Delete Holiday</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to delete <span class="text-primary">{{destination}}</span> holiday?</strong></p>
        <p>
            All information associated to this holiday will be permanently deleted.
            <span class="text-danger">This operation can not be undone.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="delete()">Yes, Delete</button>
    </div>
</div>