<div class="main">
    <app-user-nav-bar (sendFilter)="setFilters($event)"></app-user-nav-bar>
    <div class="d-flex flex-wrap justify-content-center holidays">
        <div class="card m-2" *ngFor="let item of filteredHolidays | slice:(currentPage-1)*pageSize : currentPage*pageSize">
            <img class="card-img-top" [src]=imgURL+item.img alt="place">
            <div class="card-img-overlay d-flex align-items-center">
                <i (click)="favorite(item.holidayID)" class="bi"
                [ngClass]="userFollowsMap[item.holidayID] ? 'bi-heart-fill':'bi-heart'">
                </i>
                <span>Followers: {{followersCountMap[item.holidayID]}}</span>
            </div>
            
            <div class="card-body">
                <h5 class="card-title">{{item.destination}}</h5>
                <div class="card-subtitle mb-2 text-muted">{{item.startDate | date:'dd/MM/yyyy'}} - {{item.endDate | date:'dd/MM/yyyy'}}</div>
                <p class="card-text">{{item.description}}</p>
            </div>
            <span class="Box">price : {{item.price | currency:"ILS"}}</span>
        </div>
    </div>
    <div class="pagCont d-flex justify-content-center align-items-center">
        <ngb-pagination [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="filteredHolidays.length" (pageChange)="scrollToTop()"></ngb-pagination>
    </div>
</div>