<div class="switches d-flex justify-content-center">
    <div class="form-check form-switch mx-4 my-2">
        <input class="form-check-input" type="checkbox" id="favorite" (click)="changeFavorite()" [checked]="favorite">
        <label class="form-check-label" style="color:black" for="favorite">Favorite</label>
    </div>
    <div class="form-check form-switch mx-4 my-2">
        <input class="form-check-input" type="checkbox" id="future" (click)="changeFuture()" [checked]="future">
        <label class="form-check-label" style="color:black" for="future">Future</label>
    </div>
    <div class="form-check form-switch mx-4 my-2">
        <input class="form-check-input" type="checkbox" id="present" (click)="changePresent()" [checked]="present">
        <label class="form-check-label" style="color:black" for="present">Present</label>
    </div>
</div>